@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --background-muted: 0 0% 10%;

    --foreground: 0 0% 70%;
    --foreground-muted: 0 0% 100%;

    --primary: 125 56% 61%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-foreground;
  }
  body {
    @apply bg-background text-foreground;
  }
}
